# Bot Token (Discord Developer Portal'dan alın)
TOKEN=MTQ3OTkyNjMxMjM3NzUxNjI0Mg.GFvWoB._RoQ2KQEkStzu-oEL8awxUQJ0Y2X6r7IX_6NQw

# Bot Client ID (Application ID)
CLIENT_ID=1479926312377516242

# Test sunucusu ID (opsiyonel - hızlı test için)
# GUILD_ID=BURAYA_SUNUCU_ID_GELECEK
